// **************************************
// utilities/_variables.scss
// Scss variables
// **************************************

// -----------------------
// FONT VARIABLES
// -----------------------
$primary-font-stack: 'Roboto', sans-serif;


// -----------------------
// BACKGROUND COLOR VARIABLES
// -----------------------
$body-background-color: #fcfcfc;
$employee-card-background-color: #ffffff;


// -----------------------
// TEXT COLOR VARIABLES
// -----------------------
$main-heading-text-color: #464646;
$search-text-color: #464646;
$search-placeholder-text-color: #979c9f;
$employee-name-text-color: #1d2f3a;
$employee-details-text-color: #979c9f;



// -----------------------
// BORDER COLOR VARIABLES
// -----------------------
$employee-card-border-color: #dfdfdf;