// **************************************
// components/_search.scss
// Search box styles
// **************************************

#search {
    width: calc(100% - 50px);
    max-width: 400px;
    height: 30px;
    display: block;
    margin: auto;
    margin-top: 20px;
    padding-left: 10px;
    border: 1px solid $search-border-color;
    border-radius: 6px;
    background-color: #fff;
    @include text($size: .8rem, $weight: 400, $color: $search-text-color, $line-height: null);

    // #search::placeholder
    &::placeholder {
        @include text($size: null, $weight: 300, $color: $search-placeholder-text-color, $line-height: null);
    }
}